<?xml version="1.0" encoding="UTF-8"?>
<config>
  <info>
    <type>web</type>
    <id>9BF26A1F-FB0F-49A2-872F1CB8F856417D</id>
    <name>icap</name>
    <label>ICAP library</label>
    <description></description>
    <version>${pom.version}</version>
    <image>https://raw.githubusercontent.com/jbvanzuylen/cf-icap/master/logo.png</image>
    <author>Jean-Bernard van Zuylen</author>
    <support>https://github.com/jbvanzuylen/cf-icap/issues</support>
    <created>${ext.release.date}</created>
  </info>
</config>